body{
    padding: 50px 100px;
}
h1
{
text-align: center;
background-color: blueviolet;
margin: 0;
padding: 10px;
color: wheat;
}
#textarea
{
width: 99.5%;
border-radius: 2px;
border-color: blueviolet;
}
p
{
text-align: center;
background-color: blueviolet;
padding: 10px;
font-size: 30px;
font-weight: bold;
margin: 0;
}